[Desktop Entry]
Name=STRemote
NoDisplay=true
MimeType=x-scheme-handler/STRemote;
TryExec=STRemote
Exec=STRemote %u
Icon=STRemote
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=STRemote
